@media(max-width:575px){
    .navbar-brand {
        font-size: 14px;
    }
    .carousel-item  img {
        height: 100vh
    }
.carousel-caption {
    position: absolute;
   top: 50%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: var(--bs-carousel-caption-color);
    text-align: center;
}
}
